body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.screen-container {
    width: 400px;
    height: 650px;
    background-image: url("../images/backgroundImage.jpg");
    background-size: auto;
    position: relative;
}

#game-intro {
    padding: 30px 0px;

}

.game-name {
    font-size: 30px;
    color: rgb(110, 8, 8);
}

.rules {
    font-size: 20px;
}

.goal {
    text-align: center;
    list-style-position: inside;
}


.instructions {
    font-size: 8px;
    color: brown;
}

.logoImg {
    width: 100px;
}

.name {
    padding-top: 50px;
}

body button {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
    width: 300px;
    border: 10px;
    margin: 30px 10px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    color: brown;
    font-weight: bold;
}

#game-container {
    display: none;

}

#game-end {
    display: none;
}

.blinkMe {
    animation: blinker 1s linear infinite;
    color: red;
    font-size: 20px;
}

@keyframes blinker {
    20% {
        opacity: 0;
    }
}